# This is a comment
debugMode=false
winResizable=false
fullscreen=false
fixedAspectRatio=true
smoothScaling=false
vsync=false
defScreenW=640
defScreenH=480
solidFonts=false
gameFolder=.
customScript=
RTPs=
