//
//  steamshim.xcconfig
//  mkxp-z
//
//  Created by ゾロアーク on 1/3/21.
//

// If this is set to anything but 0, steamshim will use RestartAppIfNecessary instead of requiring
// a steam_appid.txt
STEAM_APP_ID = 0

STEAMSHIM_DEFINES = "GAME_LAUNCH_NAME=\"Z.steam\"" STEAM_APPID=$(STEAM_APP_ID)

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
