//
//  Config.xcconfig
//  PlayerLegacy
//
//  Created by ゾロアーク on 11/17/20.
//

// Uncomment this for the Essentials crap
// GCC_PREPROCESSOR_DEFINITIONS = $(inherited) EASY_POKE

SDK_ROOT = macosx
BUILD_ARCH = x86_64

// The path to your build dependencies
DEPENDENCY_SEARCH_PATH = $(PROJECT_DIR)/Dependencies/build-$(SDK_ROOT)-$(BUILD_ARCH)

// Don't change this here
MRI_VERSION = 2.6.0

EXCLUDED_RECURSIVE_SEARCH_PATH_SUBDIRECTORIES = $(inherited) Dependencies ../build DerivedData 

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
