//
//  mkxp.AppleSilicon.xcconfig
//
//  Created by ゾロアーク on 1/2/21.
//

// -----------------------------
// Don't change any of this
// -----------------------------
SDK_ROOT = macosx
BUILD_ARCH = arm64

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
